# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

SAMPLE_ENV_VAR=i-am-an-environment-variable


#POST - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes
#GET - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes/{id}
#GET - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes
#PUT - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes/{id}
#DELETE - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes/{id}
#POST - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/billing



#AttachmentsBucketName: notes-app-2-api-dev-attachmentsbucket-1c9buupmym44
#UserPoolClientId: 4b2or9kgplkkbgbdjjmajkru1n
#UserPoolId: us-east-1_5xjK62YiY
#DeleteLambdaFunctionQualifiedArn: arn:aws:lambda:us-east-1:341097230437:function:notes-app-2-api-dev-delete:2
#CreateLambdaFunctionQualifiedArn: arn:aws:lambda:us-east-1:341097230437:function:notes-app-2-api-dev-create:2
#GetLambdaFunctionQualifiedArn: arn:aws:lambda:us-east-1:341097230437:function:notes-app-2-api-dev-get:2
#UpdateLambdaFunctionQualifiedArn: arn:aws:lambda:us-east-1:341097230437:function:notes-app-2-api-dev-update:2
#IdentityPoolId: us-east-1:ab6826ae-b9ea-4257-b1f4-b84d0e53b8f2
#BillingLambdaFunctionQualifiedArn: arn:aws:lambda:us-east-1:341097230437:function:notes-app-2-api-dev-billing:2
#ListLambdaFunctionQualifiedArn: arn:aws:lambda:us-east-1:341097230437:function:notes-app-2-api-dev-list:2
#ServiceEndpoint: https://kl5l514636.execute-api.us-east-1.amazonaws.com/dev
#ServerlessDeploymentBucketName: notes-app-2-api-dev-serverlessdeploymentbucket-oomohaqdcetj