# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

SAMPLE_ENV_VAR=i-am-an-environment-variable


#POST - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes
#GET - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes/{id}
#GET - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes
#PUT - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes/{id}
#DELETE - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/notes/{id}
#POST - https://tf5nxtlhe9.execute-api.us-east-1.amazonaws.com/prod/billing